[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
bootstrap-flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-ckeditor = "*"
flask-moment = "*"
flask-login = "*"
faker = "*"
flask-wtf = "*"
unidecode = "*"

[dev-packages]
bleach = "*"

[requires]
python_version = "3.10"
