{% extends 'base.html' %}

{% block title %} Manager Comment {% endblock %}

{% block content %}
	<div class="page-header">
        <h1>
            Comments <small class="text-muted">{{ comments|length }}</small>
        </h1>
        <small>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.args.get('filter','all') == 'all' %} active {% endif %}" href="{{ url_for('admin.manage_comments',filter='all') }}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.args.get('filter') == 'Unread' %}active{% endif %}" href="{{ url_for('admin.manage_comments', filter='Unread') }}">Unread</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.args.get('filter') == 'from_admin' %}active{% endif %}" href="{{ url_for('admin.manage_comments', filter='from_admin') }}">From Admin</a>
                </li>
            </ul>
        </small>
    </div>
    {% if comments %}
    	 <table class="table table-striped">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Author</td>
                    <td>Body</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
         {% for comment in comments  %}
         	<tr {% if not comment.review %} class=" table-warning" {% endif %} >
                <td>{{ loop.index + ((pagination.page - 1)) * config.BLUELOG_COMMENT_PER_PAGE }}</td>
                <td><a href="{{ comment.site }}" target="_blank">{{ comment.name }}<br><small>{{ comment.site }}</small></a></td>
                <td>{{ comment.body }}</td>
                <td>{{ moment(comment.timestamp).format('LL') }}</td>
                <td>
                     <a class="btn btn-info btn-sm" href="{{ url_for('blog.show_post', post_id=comment.post_id) }}">Post</a>
                    <form class="inline" action="{{ url_for('.delete_comment', comment_id=comment.id_, next=request.full_path) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit"  onclick="return confirm('Are you sure delete?')" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    {% if not comment.review %}
                    	<form class="inline" action="{{ url_for('.approve_comment', comment_id = comment.id_, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-sm btn-success" >Approve</button>
                        </form>

                    {% endif %}
                </td>
            </tr>
         {% endfor %}
        </table>
       {% from 'bootstrap4/pagination.html' import render_pagination %}
        <div class="page-footer"> {{ render_pagination(pagination) }} </div>
        {% else %}
        <div class="tip"><h5>No Posts</h5></div>
    {% endif %}
{% endblock %}