{% extends 'base.html' %}

{% block title %} Manage Category {% endblock %}

{% block content %}
	<div class="page-header">
        <h1>
            Category <small class="text-muted">{{ categories|length }}</small>
        </h1>
    </div>
    {% if categories %}
    	 <table class="table table-striped">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Title</td>
                    <td>Post</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
         {% for category in categories  %}
         	<tr>
                <td>{{ loop.index + ((pagination.page - 1)) * config.BLUELOG_POST_PER_PAGE }}</td>
                <td><a href="{{ url_for('blog.show_category', category_id=category.id) }}" target="_blank">{{ category.name }}</a></td>
                <td>{{ category.post|length }}</td>
                <td>{{ moment(category.timestamp).format('LL') }}</td>
                <td>
                      <a class="btn btn-info btn-sm" href="{{ url_for('admin.edit_category', category_id=category.id) }}">Edit</a>
                    {% if category.id !=1 %}
                    	 <form class="inline" action="{{ url_for('admin.delete_category', category_id=category.id, next=request.full_path) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit"  onclick="return confirm('Are you sure delete?')" class="btn btn-danger btn-sm">Delete</button>
                         </form>
                    {% endif %}
                </td>
            </tr>
         {% endfor %}
        </table>
       {% from 'bootstrap4/pagination.html' import render_pagination %}
        <div class="page-footer"> {{ render_pagination(pagination) }} </div>
        {% else %}
        <div class="tip"><h5>No Categories</h5></div>
    {% endif %}
{% endblock %}